<!-- Phones-Page.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage title -->
        <title>WMGzon - {{page_name}}</title>
        <link rel="icon" type="image/x-icon" src="{{ url_for('static', filename='WMGzon-Icon.png') }}">

        <!-- Bootstrap stuff -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- My custom CSS (must go after to take priority) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='Global-CSS.css') }}">
    </head>
    <body>
        {% extends 'index-small.html' %}

        {% block content %}
        <div class="content" style="padding-top: 50px">
            <div class="col-sm-3">
                <!-- space filler -->
            </div>
            <div class="col-sm-6 basic-box" style="padding: 10px">
                <h1 class="account-heading">Account Management</h1>
                <label class="account-text">User ID: {{CurrentUser.id}}</label>
                <br>
                <label class="account-text">Name: {{CurrentUser.first_name}} {{CurrentUser.last_name}}</label>
                <br>
                <label class="account-text">Email: {{CurrentUser.email}}</label>
                <br>
                <label class="account-text">Permission Level: {{CurrentUser.permission}}</label>
                <br>
            </div>
            <div class="col-sm-3">
                <!-- space filler -->
            </div>
        </div>
        {% if CurrentUser.permission == "Seller" %}
        <div class="content">
            <div class="basic-box" style="padding: 10px;">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Photo</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Colours</th>
                        <th>Storage Sizes</th>
                        <th colspan="3">Customise</th>
                    </tr>
                    {% for each in products %}
                        {% if each.sellerid == CurrentUser.email %}
                            <tr>
                                <td>{{each.product_name}}</td>
                                <td><img src="{{ url_for('static', filename=each.imageid) }}" alt="Product Image" class="product-image-table"></td>
                                <td>£{{each.price}}</td>
                                <td class="no-overflow-table">{{each.description}}</td>
                                <td style="text-align: center;">{{each.colours | length}}</td>
                                <td style="text-align: center;">{{each.storage_sizes | length}}</td>
                                <td><a class="product-bottom-button" href="{{ url_for('info', indexID=each.id) }}">Info</a></td>
                                <td><a class="product-bottom-button" href="{{ url_for('form', indexID=each.id) }}">Edit</a></td>
                                <td><a class="product-bottom-button" href="{{ url_for('delete', indexID=each.id) }}">Delete</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        <br>
        <a href="http://127.0.0.1:5000/logout">
            <div class="center-content" style="padding-bottom: 25px;">
                <button class="log-out-button">Log Out</button>
            </div>
        </a>
        {% endblock %}
    </body>
</html>