<!-- form.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage title -->
        <title>WMGzon - Info - {{product.product_name}}</title>
        <link rel="icon" type="image/x-icon" src="{{ url_for('static', filename='WMGzon-Icon.png') }}">

        <!-- Bootstrap stuff -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- My custom CSS (must go after to take priority) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='Global-CSS.css') }}">

        <!-- ChartJS Stuff -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        {% extends 'index-small.html' %}

        {% block content %}
        <div class="container" style="padding-top: 50px">
            <div class="basic-box">
                <h1>{{product.product_name}} Statistics</h1>
                <canvas id="myChart" width="400" height="150"></canvas>
            </div>
        </div>
        <script>
            function generateRandomData() {
                let chartData = [];
                // setting initial value (any number between 1 and 100)
                let base = Math.floor(Math.random() * 100000);
                chartData.push(base);
                
                // iterates 11 more times to make the 12 months
                for (let i = 1; i < 12; i++) {
                    let modification = Math.floor(Math.random() * 31000) - 15000; // random number between -10 and 10
                    let newData = chartData[i - 1] + modification;

                    newData = Math.max(0, Math.min(99999, newData)); // keeps data above 0

                    chartData.push(newData);
                }
                return chartData;
            }

            const data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: '{{product.product_name}} Sales',
                    data: generateRandomData(),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: '#c27400',
                    borderWidth: 1
                }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            min: 0
                        }
                    }
                }
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
        {% endblock %}
    </body>
</html>